.root {
    height: 100%;

    & > nav {
        [class~="Polaris-Navigation__Section--fill"] {
            display: flex;
            align-items: flex-end;
            width: 100%;
            & > li {
                width: 100%;
            }
        }
    }

    [class~="Polaris-Navigation__Section"] {
        padding: 2.6rem 0;
    }

}
